---
layout: minimal
title: "Series"
permalink: /series/index.html
image: '/assets/img/series.png'
description: "Nothing here go away there are no secrets to be found I am just leaving this here because it might become useful later but I do not really know anyway I promise I am not trying to hide a flag here that would be silly no seriously there is nothing here and you would be a fool trying to look for something"
---

<h2>Series</h2>
{% for tag in site.categories %}
  <span class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] | capitalize }}</span>
  <ul class="post-list">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list reversed %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li>
          <a title="why are you here" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
              <span class="entry-date">
              <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
          </a>
          <p>Go visit <a href="https://an00brektn.github.io/tags/">the tags page</a> instead</p>
      </li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
